<div class="tab scrollable{{#if tab.active}} active{{/if}}" data-tab="deathEffects" data-group="sheet">
  {{#with deathEffects}}
    {{> "modules/death-effects/templates/config.hbs"}}
  {{/with}}
</div>