@use "variables";

@font-face {
  font-family: "#{variables.$icomoon-font-family}";
  src:
    url("#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.ttf?1jnt8b")
      format("truetype"),
    url("#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.woff?1jnt8b")
      format("woff"),
    url("#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.svg?1jnt8b##{variables.$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.de-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{variables.$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.fade {
    &:before {
      content: variables.$de-fade;
      color: #fff;
    }
  }
  &.fire {
    &:before {
      content: variables.$de-fire;
      color: #fff;
    }
  }
  &.flash {
    &:before {
      content: variables.$de-flash;
      color: #fff;
    }
  }
  &.melt {
    &:before {
      content: variables.$de-melt;
      color: #fff;
    }
  }
  &.sound {
    &:before {
      content: variables.$de-sound;
      color: #fff;
    }
  }
}
