@use "icons.scss";

.timeline-editor {
  .timeline-editor__container {
    display: flex;
    flex-direction: row;
  }
  .timeline-editor__timeline {
    position: relative;
    min-height: 150px;
    height: 300px;
    flex-grow: 1;
  }

  .timeline-editor__outline {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
  }

  .timeline-editor__outline-header {
    height: 36px;
    max-height: 36px;
    min-height: 36px;
  }

  .timeline-editor__outline-items {
    overflow: auto;
    flex-grow: 1;
  }

  .timeline-editor__outline-item {
    display: flex;
    flex-direction: row;
    line-height: 24px;

    &--alt {
      background-color: var(--table-row-color-even);
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .timeline-editor__outline-item-label {
    flex-grow: 1;
  }

  .timeline-editor__outline-item-controls {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 4px;
  }
}
