@use "sass:string";

$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../assets/fonts" !default;

$de-crumble: "\e907";
$de-dust: "\e900";
$de-dissolve: "\e901";
$de-fade: "\e902";
$de-fire: "\e903";
$de-flash: "\e904";
$de-melt: "\e905";
$de-sound: "\e906";
